
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}Very Simple TODO{{/link-to}}
      </div>
    </div>
  </div>
