<div class="row">
  <div class="col-sm">
    <h5><b>Suas tarefas</b></h5>
    <ul class="list-group">
      {{#each list as |item|}}
        {{todo-item item=item}}
      {{/each}}
    </ul>
  </div>
</div>
