<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3><b>Very Simple TODO</b></h3>
      <h5>Aplicativo TODO muito simples feito em Ember.js e Firebase.</h5>
      <h5>Veja o código no <a href="https://github.com/andremasson/VerySimpleTodo-ember">Github</a></h5>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      {{todo-form}}

      {{todo-list list=model}}
    </div>
  </div>
</div>
